.contest-heading {
  color: black;
  font-weight: bold;
  font-size: 40px;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
}

.contest-sub-heading{
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
  margin-top:12px;
  font-size: 25px;
  font-weight: bold;
}
.all-contests {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.contest-div {
  width: 50%;
  margin: auto auto;
  margin-top: 30px;
  background-color: black;
  padding: 30px;
  border-radius: 2%;
}

.contest-div div {
  width: 100%;
  display: flex;
}

.contest-div div div {
  color: white;
  padding: 10px;
  font-size: medium;
  font-family: "Courier New", Courier, monospace;
}

.url-div a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}
