.navbar {
  height: 50px;
  background-color: aliceblue;
}
.navbarList {
  height: 100%;
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
}
.navbarListItem {
  margin: 0px 10px;
  border-radius: 50%;
  background-color: lightgray;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
