.Mix{
  display: flex;
  flex-direction: row;
}
.row {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.Dsa-head-text p{
  word-spacing: 20px;
  font-size: 18px;
  color: #724CE5;
  text-align: center;
  margin-bottom: 25px;
}
.dsa-blocks {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: auto auto auto;
  padding: 70px;
}
.quaters {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(28, 165, 73, 0.8);
  box-shadow: 3px 3px 4px 3px rgb(104 6 112 / 30%);
  border-radius: 25px;
  padding: 40px;
  font-size: 30px;
  text-align: center;
  background-color: #57cc99;
  cursor: pointer;
}
.quaters:nth-child(1){
  background-color: #4994f7;
}
.quaters:nth-child(2){
  background-color: #4994f7;
}
.quaters:nth-child(3){
  background-color: #4994f7;
}
.quaters:nth-child(4){
  background-color: #4994f7;
}
.quaters:nth-child(5){
  background-color: #4994f7;
}
.quaters:nth-child(6){
  background-color: #277ff6;
}
.quaters:nth-child(7){
  background-color: #4994f7;
}
.quaters:nth-child(8){
  background-color: #277ff6;
}
.quaters:nth-child(9){
  background-color: #277ff6;
}
.quaters:nth-child(10){
  background-color: #277ff6;
}
.quaters:nth-child(11){
  background-color: #277ff6;
}
.quaters:nth-child(12){
  background-color: #277ff6;
}
.quaters:nth-child(13){
  background-color: #096cf0;
}
.quaters:nth-child(14){
  background-color: #096cf0;
}
.quaters:nth-child(15){
  background-color: #096cf0;
}
.quaters:nth-child(16){
  background-color: #096cf0;
}
.quaters:nth-child(17){
  background-color: #096cf0;
}
.quaters:nth-child(18){
  background-color: #085cce;
}
.quaters:nth-child(19){
  background-color: #096cf0;
}
.quaters:nth-child(20){
  background-color: #085cce;
}
.quaters:nth-child(21){
  background-color: #085cce;
}
.quaters:nth-child(22){
  background-color: #085cce;
}
.quaters:nth-child(23){
  background-color: #085cce;
}
.quaters:nth-child(24){
  background-color: #085cce;
}
.quaters:nth-child(25){
  background-color: #053d89;
}
.quaters:nth-child(26){
  background-color: #053d89;
}
.quaters:nth-child(27){
  background-color: #053d89;
}
.quaters:nth-child(28){
  background-color: #053d89;
}
.quaters:nth-child(29){
  background-color: #053d89;
}
.quaters:nth-child(30){
  background-color: #053d89;
}
.quaters h2 p {
  font-size: 33px;
  color: #f7f6f2;
  font-weight: 800;
}
.Dsa-head h2 {
  text-align: center;
  /* margin-top: 35px; */
  padding-top: 35px;
  /* margin-bottom: 25px; */
  padding-bottom: 15px;
  font-size: 40px;
}
.Algo{
  border: 2px solid #444444;
  background-color: #334756;
  width: 30%;
  margin: 25px 5px 20px 10px;
  border-radius: 25px;
}
.Algo-head{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 38px;
  font-weight: 800;
}
.Algo-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 35px 10px 10px 15px;
}
.Algo-main{
  font-size: 25px;
  margin: auto auto;
}
.Algo-main{
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}
.Algo-main a{
  text-decoration: none;
  color:#FF4C29;
}
#algo-head-1,#algo-head-2,#algo-head-3,#algo-head-4,#algo-head-5{
  font-size: 31px;
  font-weight: 600;
  margin-top: 35px;
  margin-bottom: 15px;
  color:#ffff;
}
.Algo-main a:hover{
  color: #FFF89A;
}
#contact-4{
  border: white;
  color: #fff;
  background-image: linear-gradient(+45deg, #0b8793 , #360033);
}